name: resize

on: push

jobs:
  build:
    name: resize build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Go 
        uses: actions/setup-go@v3
        with:
          check-latest: true
          cache: true
          go-version: '1.20'
      
      - name: Build & Test
        run: |
          go mod tidy
          go test -v -race -count 1 -parallel 5 -covermode=atomic -coverprofile=coverage.out ./...
          go build -v -ldflags="-s -w" ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout=5m

      - name: List files in the repository
        run: |
          pwd
          ls -al ${{ github.workspace }}

      - name: Govulncheck
        uses: kmulvey/govulncheck-action@v1.1.2

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3  
        with:
          files: ./coverage.out
          verbose: true # optional (default = false)
